*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.body_padding{
    padding: 25px 25px 25px 25px; 
    font-family: 'Courier New', Courier, monospace;
}
 .scroll-container {
    height: 94vh;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
/* input tsype */

.form-group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    
    
  }
  .form-input {
    width:auto;
    padding: 8px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;
    

  }
  .time_wt{
    width: auto !important;
  }
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Spacing between fields in the same row */
  }  
  .marginleft{
    /* margin-left: 22%; */
    /* margin-left: 14%; */
  }
 
  table {
    width: 100%;
    font-size: 14px;
}

.table_header {
  background-color: #45423f;
  color: white;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

  th, td {
   
    text-align: left; 
    border: 1px solid #ddd; 
}

/* for table design */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
} 

tbody tr:hover {
  background-color: #88b44e82; /* Slight blue highlight on hover */
  transition: background-color 0.3s ease-in-out;
}

.iconPaddig {
  padding: 7px;
  cursor: pointer;
  color: #45423f; 
  font-size: 18px;
  transition: transform 0.2s, color 0.2s;
}

.iconPaddig:hover {
  color: black; 
  transform: scale(1.2); 
}
.center_align {
  text-align: center;
  font-size: 16px;
  color: #888; 
}



/* extra small device */
@media (max-width: 576px) {
  .card_design{
    width: 80% !important;
    margin-top: 15px !important;
}
}
/* small device */
@media (min-width: 577px) and (max-width: 768px) {
  .card_design{
    width: 80% !important;
    margin-top: 15px !important;
}
}
/* medium device */
@media (min-width: 769px) and (max-width: 992px) {
  .card_design{
    width: 50% !important;
    margin-top: 15px !important;
}
}
/* large device */
 @media (min-width: 993px) and (max-width: 1200px) {
  .card_design{
    width: 25% !important;
}
}
/* extra large device */
@media (min-width: 1201px) {
  .card_design{
    width: 25% !important;
}
}


  .card_design{
    border: 1px solid #D3D3D3;
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
    border-radius: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  }
  .row_align{
    display: flex;
    flex-direction: column;
    padding: 3px;
  }
  .txt_transform{
    text-transform: none;
  }
  .scrollit_HR {
    margin:30px;
    overflow-y: scroll;
    height: 417px;
    width: auto;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.HeadingPaddig{
  padding: 7px;
}
.center_align{
  text-align: center;
}
.padding_top{
  padding-top: 15px;
}





@keyframes slideInUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
  /* Datepicker Styling*/
  /* Date Picker styling */
.react-datepicker-wrapper {
  display: block;
  
}
  
.react-datepicker__day {
  color: #1870c2;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.2s ease;
}

/* Highlight selected day */
.react-datepicker__day--selected {
  background-color: #1995AD;
  color: white;
  border-radius: 50%;
  font-weight: bold;
}

/* Style for hovered day */
.react-datepicker__day:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

/* Disable previous days */
.react-datepicker__day--disabled {
  background-color: #e0e0e0;
  color: #b0b0b0;
}

/* Styling for today’s date */
.react-datepicker__day--today {
  font-weight: bold;
  border: 2px solid #1995AD;
  background-color: #e6f7ff;
}

/* Customizing the select dropdown */
select {
  background-color:  #1995AD;  
  color: #333;  
  border: 1px solid #1995AD; 
  border-radius: 5px;  
  padding: 8px 12px;  
  font-size: 14px;  
  transition: background-color 0.3s ease, border 0.3s ease; 
}


select:hover {
  background-color: #126e8c;  
  border-color: #126e8c;  
}


select:focus {
  outline: none;  
  border-color: #1995AD;  
  background-color: #126e8c;  
 
}
.app-container {
  display: flex;
}

.content {
  margin-left: 250px; /* Adjust based on sidebar width */
  padding: 20px;
  width: calc(100% - 250px);
}

/* Login & Exit Button */

.header_buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  position: absolute;
  top: 22px;
  right: 12px;
}


.filter-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-bar input[type='search'] {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-bar select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.user_border_radius{
  border-radius: 20px !important;
  font-size: 14px;
  font-weight: 600;
}
.table_scroll{
  overflow-x: auto;
}
.popup_btn{
  display: flex;
      flex-direction: row;
      justify-content: center;
}

.mrg_top10{
  margin-top: 4px;
}
.branchname {
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.branch_style{
  background: #1995AD;
    padding: 9px;
    border-radius: 18px;
    margin-top: 10px;
    color:white;
    color: black;
}


.form-container {
  display: flex; 
  align-items: center; 
  gap: 20px; 
  flex-wrap: wrap;
  justify-content: end;
  padding-right: 1%;
}

.form-group {
  display: flex; 
  align-items: center; 
}


.custom-datepicker {
  margin-left: 10px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
    gap: 0px !important;
    margin-top: 11px;

  }

  .custom-datepicker {
    width: auto; 
  }

}

.submitBtn{
  padding: 9px 24px 9px 24px;
  margin-top: 10px;
  background-color: #88B44E;
  color: white;
  width: auto;
  border-radius: 24px;
  border: none;
  font-size: 15px;
  cursor: pointer;
    transition: background-color 0.3s ease;
}
.submitBtn:hover{
  background-color: #45423f;
}
.branch_style{
  width: 160px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 4px;
  background: none !important;
  margin-top: 6px;

}
.branch_style:hover{
  background: none !important;
  border: 1px solid #ccc;
}
.mrg_bmt10pf{
  margin-bottom: 9px;
}
.mrg_tp20{
  margin-top: 20px;
  margin-right: 5%;
}
.fomr_row{
  display: flex;
  flex-direction: row !important;
}
.icon_cl{
  padding: 9px 8px 6px 8px;
}
.upd_btn{
  margin-right: 10px;
}
.bck_btn{
  background-color: white;
  color: #1995AD;
  width: auto;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  border: 1px solid #1995AD;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 2%;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cancel_bnt_card{
  text-align: right;
  color: #1995AD;
  padding: 13px;
  font-size: 115%;
  margin-right: -16%;
}
.btn_disable{
  border: none;
  background: none;
  padding: 10px;
  color: #1995AD; 
  font-size: 18px;
}
.head_style{
  font-weight: 600;
}
.branchName_style{
  background:  #88B44E;
    padding: 10px;
    color: white;
    margin-top: 12px;
    border-radius: 16px;
}
@media (max-width: 768px) { /* Adjust the width as needed */
  .scroll-container {
    height: 94vh;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
}

@media (min-width: 769px) {
  .scroll-container {
    overflow-y: hidden; /* Hide scrollbar on larger screens */
  }
}
.dipaly_flex_back{
    display: flex;
    justify-content: end;
    margin-right: 1%;

}
.mrg_top10DH{
  margin-top: 6px;
}
.tbale_postion_stick{
  background: #fff;
    bottom: 0;
    box-shadow: 0 -2px 5px #0000001a;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 0 22px;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
}

.pagination_style_reg {
  padding: 5px 10px;
  background-color: #45423f;
  color: white;
  border: 1px solid #45423f;
  border-radius: 5px;
  cursor: pointer;
  height: 4%;
  margin-top: 4px;

}

.pagination_style_reg:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.pagination-button {
  padding: 2px 6px 2px 6px;
  border: 1px solid #88B44E;
  background: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
  margin: 5px;
}

.pagination-button.active {
  background: #88B44E;
  color: white;
  border-radius: 8px;
}

.pagination-button:hover {
  background: #88B44E;
  color: white;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.choco_clr{
  color: #45423f;
}
.pagination-ellipsis {
  margin: 0 10px;
  font-weight: bold;
  font-size: 18px;
}
.itemPerpage {
  padding: 10px;
  margin-right: 10px;
  width: 75px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.itemPerpage:focus {
  border-color: #1995AD;
}
.item_style{
  width: 54%;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 4px;
  background: none !important;
  margin-top: 6px;

}
.item_style:hover{
  background: none !important;
  border: 1px solid #ccc;
}
.total_style{
  display: flex;
  margin-top:8px;
  margin-left: 11px;
}
.total_alignment{
  margin-right: 8px;
  font-weight: 600;
}